*{
	padding: 0px;
	margin: 0px;
}
body{
	user-select: none;
}
.wrapper{
	margin: 50px auto;
}
.main{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
table{
	width: 350px;
}
.main th{
	height: 34px;
	width: 80px;
	text-align: center;
	font-size: 20px;
}
.main td {
	width: 80px;
	height: 34px;
	text-align: center;
}
.calc{
	width: 80px;
	height: 120px;
	font-size: 34px;
	background-color: #adf;
	outline-style: none;/*无外边框*/
	cursor: pointer;
}
.calc:hover{
	background-color: #7df;
	color: #fff;
}
.sub_calc,
.ext_s_calc{
	height: 36px;
	width: 80px;
	font-size: 20px;
}
.ext_sub_calc{
	height: 70px;
	width: 80px;
	left: 10px;
	font-size: 20px;
}
.add{
	width: 80px;
	height: 36px;
	outline-style: none;
	font-size: 20px;
	background-color: #fa7;
	cursor: pointer;
}
.add:hover{
	background-color: #faa;
	color: #fff;
}
.del{
	width: 80px;
	height: 36px;
	outline-style: none;
	font-size: 20px;
	background-color: #f77;
	cursor: pointer;
}
.del:hover{
	background-color: #f7a;
	color: #fff;
}